* {
  margin:        0;
  border:        0;
  border-radius: 0;
  padding:       0;
  box-sizing:    border-box;
  position:      relative;
}

h1 {
  display:       flex;
  align-items:   center;
  height:        72px;
  border-bottom: 2px solid #ccc;
  padding:       8px 12px;
}

#game {
  display:         flex;
  align-items:     center;
  justify-content: center;
  height:          calc(100vh - 72px);
}

#game .grid {
  width:            300px;
  height:           300px;
  display:          grid;
  grid-template:    repeat(3, 1fr) / repeat(3, 1fr);
  gap:              4px;
  background-color: black;
}
